<%- include('../partials/header') %>
<main class="shop_collection container">
  <aside class="filter">
    <div class="filter__content">
      <label for="search" class="filter__title">BUSCAR</label>
      <input type="text" id="search" name="search" placeholder="item o categoria" class="filter__input" />
    </div>
    <div class="filter__content">
      <label for="sort" class="filter__title">ORDENAR POR</label>
      <select name="sort" id="sort" class="filter__input">
        <option value="az">A-Z</option>
        <option value="za">Z-A</option>
        <option value="desc">Mayor precio</option>
        <option value="asc">Menor precio</option>
      </select>
    </div>
    <div class="filter__content">
      <span for="filter" class="filter__title">PRECIO</span>
      <div class="filter__price">
        <div>
          <label for="precio_min" class="filter__price-tag">MIN</label>
          <input
            type="text"
            id="precio_min"
            name="precio_min"
            placeholder="0"
            class="filter__input filter__price-value" />
        </div>
        <div>
          <label for="precio_max" class="filter__price-tag"> - MAX</label>
          <input
            type="text"
            id="precio_max"
            name="precio_max"
            placeholder="0"
            class="filter__input filter__price-value" />
        </div>
      </div>
    </div>
    <div class="filter__content">
      <label for="filter" class="filter__title">FILTRAR</label>
      <div class="filter__options">
        <input type="checkbox" name="filter_new" id="filter_new" class="filter__options-select" />
        <label for="filter_new" class="filter__options-tag">NUEVOS</label>
        <input type="checkbox" name="filter_ofertas" id="filter_ofertas" class="filter__options-select" />
        <label for="filter_ofertas" class="filter__options-tag">OFERTAS</label>
        <input
          type="checkbox"
          name="filter_special_edition"
          id="filter_special_edition"
          class="filter__options-select" />
        <label for="filter_special_edition" class="filter__options-tag">EDICIÓN ESPECIAL</label>
        <input type="checkbox" name="filter_favoritos" id="filter_favoritos" class="filter__options-select" />
        <label for="filter_favoritos" class="filter__options-tag">FAVORITOS</label>
      </div>
    </div>
  </aside>
  <section>
    <ul class="shop__items">
      <% items.forEach(items => { %>
      <li class="shop__item">
        <article class="card-item">
          <a class="item-card__link" href="/shop/item/<%= items.item_id %>">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img
                class="card-item__img--front"
                src="/img/<%= items.licence_file_path %>/<%= items.img_front %>"
                alt="<%= items.item_description %>" />
              <img
                class="card-item__img--back"
                src="/img/<%= items.licence_file_path %>/<%= items.img_back %>"
                alt="<%= items.item_description %>" />
            </picture>
            <div class="card-item__content">
              <p class="card-item__licence"><%= items.licence_name %></p>
              <h4 class="card-item__name"><%= items.item_name %></h4>
              <p class="card-item__price">$<%= items.price %>.-</p>
              <p class="card-item__promo"><%= items.instalment_plan %> CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </li>
      <% }); %>
    </ul>
    <div class="pages">
      <button type="button"><</button>
      <button type="button">1</button>
      <button type="button">2</button>
      <button type="button">3</button>
      <button type="button">4</button>
      <button type="button">5</button>
      <button type="button">></button>
    </div>
  </section>
</main>
<%- include('../partials/footer') %>
