<%- include('../partials/header') %>
<main class="admin container">
  <section class="admin__search">
    <picture>
      <img src="/img/icons/search_icon.svg" alt="search_icon" />
    </picture>
    <input
      type="text"
      name="search"
      id="search"
      value="código, nombre o categoría"
      disabled
      class="admin__search-input" />
  </section>
  <section class="admin__info">
    <div class="admin__spacing-title">
      <h2 class="admin__header-title">LISTADO DE PRODUCTOS</h2>
      <div class="admin__header-addspacing">
        <span class="admin__header-addlabel">AGREGAR</span>
        <a href="/admin/create" class="admin__header-add">+</a>
      </div>
    </div>
    <div class="admin__spacing admin__spacing-header">
      <h2>ID</h2>
      <h2>Código</h2>
      <h2>Nombre del Producto</h2>
      <h2>Categoría</h2>
    </div>
    <% items.forEach(items => { %>
    <article class="admin__spacing admin__spacing-data">
      <p><%= items.item_id %></p>
      <p><%= items.SKU %></p>
      <p><%= items.item_name %></p>
      <p><%= items.licence_name %></p>
      <a href="/admin/edit/<%= items.item_id %>"><img src="/img/icons/edit_pencil.svg" alt="edit_pencil" /></a>
      <form action="/admin/delete/<%= items.item_id %>?_method=DELETE" method="POST" ">
        <button class="delete_btn" type="submit">
          <img src="/img/icons/delete_trash.svg" alt="delete_product" />
        </button>
      </form>
    </article>
    <%}); %>
  </section>
</main>
<%- include('../partials/footer') %>
