<%- include('../partials/header') %>
<main class="create container">
  <h2 class="create__title">EDITAR ITEM</h2>
  <form action="/admin/edit/<%= item.item_id %>?_method=PUT" method="POST" class="form" enctype="application/x-www-form-urlencoded">
    <div class="form-spacing">
      <label for="categoria" class="form-title">Categoría:</label>
      <select name="categoria" id="categoria" class="form-box1" required>
        <% categories.forEach((categories,i) => { %>
        <option value="<%= i+1 %>" <% if (item.category_id === categories.category_id) { %> selected <% } %>>
          <%= categories.category_name %></option>
        <% });%>
      </select>
      <label for="licencia" class="form-title">Licencia:</label>
      <select name="licencia" id="licencia" class="form-box1" required>
        <% licences.forEach((licences,i) => { %>
        <option <% if (item.licence_id === licences.licence_id) { %>selected<% } %> value="<%= i+1 %>">
          <%= licences.licence_name %></option>
        <% });%>
      </select>
    </div>
    <div>
      <label for="nombre_producto" class="form-title">Nombre del producto:</label>
      <input
        type="text"
        id="nombre_producto"
        name="nombre_producto"
        placeholder="Nombre del producto"
        class="form-name"
        value="<%= item.item_name %>"
        required />
    </div>
    <div>
      <textarea
        name="descripcion_producto"
        id="descripcion_producto"
        cols="30"
        rows="10"
        placeholder="Descripción del producto"
        wrap="hard"
        class="form-textarea"
        required>
<%= item.item_description %>
          </textarea
      >
    </div>
    <div class="form-spacing">
      <label for="sku" class="form-title">SKU:</label>
      <input
        type="text"
        id="sku"
        name="sku"
        placeholder="SSK111AB001"
        class="form-sku"
        value="<%=item.SKU  %>"
        required />
      <label for="precio" class="form-title">Precio:</label>
      <input
        type="text"
        name="precio"
        id="precio"
        data-type="currency"
        placeholder="$0.000,00"
        class="form-price"
        value="<%=item.price %>"
        required />
      <label for="stock" class="form-title">Stock:</label>
      <input
        type="number"
        name="stock"
        id="stock"
        placeholder="0 unidades"
        min="0"
        class="form-stock"
        value="<%=item.stock %>"
        required />
    </div>
    <div class="form-spacing">
      <label for="descuento" class="form-title">Descuento</label>
      <input
        type="text"
        name="descuento"
        id="descuento"
        placeholder="0%"
        min="0"
        max="100"
        step="5"
        class="form-disc"
        value="<%=item.discount %>"
        required />
      <label for="cuotas" class="form-title">Cuotas:</label>
      <select name="cuotas" id="cuotas" class="form-box1">
        <option <% if (item.instalment_plan === 0) { %> selected <% } %> value="0">0 cuotas sin interés</option>
        <option <% if (item.instalment_plan === 3) { %> selected <% } %> value="3">3 cuotas sin interés</option>
        <option <% if (item.instalment_plan === 6) { %> selected <% } %>  value="6">6 cuotas sin interés</option>
        <option <% if (item.instalment_plan === 9) { %> selected <% } %>  value="9">9 cuotas sin interés</option>
        <option <% if (item.instalment_plan === 12) { %> selected <% } %>  value="12">12 cuotas sin interés</option>
        <option <% if (item.instalment_plan === 18) { %> selected <% } %>  value="18">18 cuotas sin interés</option>
        <option <% if (item.instalment_plan === 24) { %> selected <% } %>  value="24">24 cuotas sin interés</option>
      </select>
    </div>
    <div class="form-spacing">
      <label for="imagenes" class="form-title">Imágenes:</label>
      <input type="file" name="imagenes" id="imagenes" value="Elegir archivos" class="form-files" multiple />
    </div>
    <div class="form-spacing">
      <picture>
        <img src="<%= item.img_front %>" alt="<%=item.item_description %>" />
        <p>Frente</p>
      </picture>
      <picture>
        <img src="<%= item.img_back %>" alt="<%=item.item_description %>" />
        <p>Dorso</p>
      </picture>
    </div>
    <div class="form-spacing">
      <input type="submit" value="Modificar Producto" class="form-add" />
    </div>
  </form>
</main>
<%- include('../partials/footer') %>
